<%- include('../partials/head') %>
<%- include('../partials/navbar_admin') %> 
<div class="container content-space-b-2 content-space-b-lg-3 content-space-t-3">
    <%- include('../partials/flash') %>
</div>


<%- include('../partials/foot') %>
