

<script src="/public/assets/js/hs.core.js"></script>


<!-- JS Implementing Plugins -->
<script src="/public/assets/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>

<!-- bundlejs:vendor [.] -->
<script src="/public/assets/vendor/hs-header/dist/hs-header.min.js"></script>
<script src="/public/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
<script src="/public/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
<script src="/public/assets/vendor/aos/dist/aos.js"></script>
<script src="/public/assets/vendor/typed.js/lib/typed.min.js"></script>
<script src="/public/assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>
<script src="/public/assets/vendor/leaflet/dist/leaflet.js"></script>
<script src="/public/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- JS Front -->
<!-- bundlejs:theme [.] -->
<script src="/public/assets/js/hs.bs-validation.js"></script>
<script src="/public/assets/js/hs.typed.js"></script>
<script src="/public/assets/js/hs.leaflet.js"></script>

<!-- JS Global Compulsory -->
<script src="/public/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<script src="/public/assets/vendor/hs-header/dist/hs-header.min.js"></script>
<script src="/public/assets/js/hs-mega-menu.js"></script>

<script src="/public/assets/js/hs.bs-dropdown.js"></script>

<script src="/public/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="/public/assets/js/hs.nouislider.js"></script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF BOOTSTRAP DROPDOWN
    // =======================================================
    HSBsDropdown.init()
  })()
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })

        // INITIALIZATION OF SWIPER
      // =======================================================
      var swiper = new Swiper('.js-swiper-hero-clients',{
        slidesPerView: 2,
        breakpoints: {
          380: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 15,
          },
        },
      });

      // Card Grid
      var swiper = new Swiper('.js-swiper-card-blocks',{
        slidesPerView: 1,
        pagination: {
          el: '.js-swiper-card-blocks-pagination',
          dynamicBullets: true,
          clickable: true,
        },
        breakpoints: {
          580: {
            slidesPerView: 2,
            spaceBetween: 15,
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
        },
      });
      
    })()
</script>
<script>
  (function() {
    // INITIALIZATION OF LEAFLET
    // =======================================================
    const leaflet = HSCore.components.HSLeaflet.init(document.getElementById('map'))

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      id: 'mapbox/light-v9'
    }).addTo(leaflet)
  });
</script>
<script>
  (function() {
    // INITIALIZATION OF NOUISLIDER
    // =======================================================
    HSCore.components.HSNoUISlider.init('.js-nouislider')
  });
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF BOOTSTRAP VALIDATION
    // =======================================================
    HSBsValidation.init('.js-validate')


    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
  })()
</script>
</body>
</html>