<!-- ========== FOOTER ========== -->
<footer class="container py-3 content-space-t-1 text-center mt-auto">
    <!-- Logo -->
    <!-- <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
      <img class="brand" src="/public/assets/logo.png" alt="Logo">
    </a> -->
    <!-- End Logo -->
  
   
    <!-- <p class="fs-6">© 2022 Addys LLC. All rights reserved. Check out our socials below.</p> -->

      <!-- List -->
      <ul class="list-inline list-separator mb-1">
        <li class="list-inline-item">
          <a class="link-sm link-secondary" href="#">© 2022 Addys LLC</a>
        </li>
        <li class="list-inline-item">
          <a class="link-sm link-secondary" href="/terms">Terms of Service</a>
        </li>
        <li class="list-inline-item">
          <a class="link-sm link-secondary" href="/privacy">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a class="link-sm link-secondary" href="/disclaimer">Disclaimer</a>
        </li>
      </ul>
      <!-- End List -->

      <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="https://twitter.com/addys_io" target="_blank" rel="noopener noreferrer">
          <i class="bi-discord"></i>
        </a>
      </li>
      <!-- <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="https://twitter.com/addys_io" target="_blank" rel="noopener noreferrer">
          <i class="bi-telegram"></i>
        </a>
      </li> -->
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="https://twitter.com/addys_io" target="_blank" rel="noopener noreferrer">
          <i class="bi-twitter"></i>
        </a>
      </li>
    </ul>
  </footer>
  <!-- ========== END FOOTER ========== -->

  

<%- include('./footEssential') %> 