<!-- JS Global Compulsory hs-builder:build-delete -->
<script src="/public/assets/js/bootstrap.bundle.js"></script>



<!-- JS Implementing Plugins -->
<!-- bundlejs:vendor [.] -->
<script src="/public/assets/js/hs-header.js"></script>

<script src="/public/assets/js/hs-toggle-password.js"></script>
<script src="/public/assets/js/hs-toggle-state.min.js"></script>
<script src="/public/assets/js/hs-toggle-switch.min.js"></script>


<script src="/public/assets/js/hs-show-animation.js"></script>
<script src="/public/assets/js/hs-file-attach.js"></script>

   
<script src="/public/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
<script src="/public/assets/js/aos.js"></script>
<script src="/public/assets/js/hs-scrollspy.min.js"></script>

<script src="/public/assets/js/leaflet.js"></script>

<script src="/public/assets/js/tom-select.complete.min.js"></script>
<script src="/public/assets/js/hs.tom-select.js"></script>

<script src="/public/assets/js/imask.js"></script>




<script src="/public/assets/js/hs.typed.js"></script>
<script src="/public/assets/js/hs.leaflet.js"></script>

<script src="/public/assets/js/hs-mega-menu.js"></script>

<script src = "/public/assets/js/nouislider.min.js"></script>

<script src="/public/assets/js/hs.bs-dropdown.js"></script>
<script src="/public/assets/js/fslightbox.js"></script>
<!-- <script src="/public/assets/js/swiper-bundle.js"></script> -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- JS Front -->
<script src="/public/assets/js/hs.imask.js"></script>

<!-- bundlejs:theme [.] -->
<script src="/public/assets/js/hs.core.js"></script>
<script src="/public/assets/js/hs.bs-validation.js"></script>


<!-- JS Plugins Init. -->


<script>
  $(".one-click").click(function(e) {
    if($(this).hasClass( "click-signifier" )) {
        e.preventDefault();
    } else {
        $(this).addClass('click-signifier');
        //you can also run other stuff you need once
    }
});
</script>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF BOOTSTRAP DROPDOWN
    // =======================================================
    HSBsDropdown.init()
  })()
</script>

<script>
  (function() {
    // INITIALIZATION OF FILE ATTACH
    // =======================================================
    new HSFileAttach('.js-file-attach')
  });
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })

        
     
      
    })()
</script>
<script>
  (function() {
    // INITIALIZATION OF LEAFLET
    // =======================================================
    const leaflet = HSCore.components.HSLeaflet.init(document.getElementById('map'))

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      id: 'mapbox/light-v9'
    }).addTo(leaflet)
  });
</script>
<script>
  (function() {
    // INITIALIZATION OF NOUISLIDER
    // =======================================================
    HSCore.components.HSNoUISlider.init('.js-nouislider')
  });
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF BOOTSTRAP VALIDATION
    // =======================================================
    HSBsValidation.init('.js-validate')


    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
  })()
</script>

<script>
  (function() {
    // INITIALIZATION OF TOGGLE STATE
    // =======================================================
    new HSToggleState('.js-toggle-state')
  });
</script>

<script>
  (function() {
    // INITIALIZATION OF TOGGLE SWITCH
    // =======================================================
    new HSToggleSwitch('.js-toggle-switch')
  })()
</script>


<script>
  (function() {
    // INITIALIZATION OF SELECT
    // =======================================================
    HSCore.components.HSTomSelect.init('.js-select')
  });
</script>

<script>
  (function() {
    // INITIALIZATION OF INPUT MASK
    // =======================================================
    HSCore.components.HSMask.init('.js-input-mask')
  });
</script>





</body>
</html>