<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <meta name="Keywords" content="Addys, forwarding service, package forwarding, reshipping">
    <meta name="Description" content="<%= description %> ">


    <link rel="shortcut icon" href="/public/assets/favicon_light.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/hs-mega-menu.css">    
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/public/assets/css/leaflet.css">
    <link rel="stylesheet" href="/public/assets/css/nouislider.min.css">
    <link rel="stylesheet" href="/public/assets/css/aos.css">
    <link rel="stylesheet" href="/public/assets/css/theme.css">
    <link rel="stylesheet" href="/public/assets/css/app.css">
    <script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="4d16bf5b-5643-4f8d-bab5-e7d70f144e67"
  ></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9RLWM8FKZX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9RLWM8FKZX');
    </script>
</head>
<body class="d-flex flex-column vh-100">
