<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Addys</title>
    <link rel="shortcut icon" href="/public/assets/favicon_light.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/theme.css">
    <link rel="stylesheet" href="/public/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">


</head>
<body>
<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
data-hs-header-options='{
  "fixMoment": 1000,
  "fixEffect": "slide"
}'>


<div class="container">
<nav class="js-mega-menu navbar-nav-wrap">
<!-- Default Logo -->
<a class="navbar-brand" href="/index" aria-label="Front">
<img class="navbar-brand-logo" src="/public/assets/logo.png" alt="Logo">
</a>
<!-- End Default Logo -->

<!-- Toggler -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-default">
  <i class="bi-list"></i>
</span>
<span class="navbar-toggler-toggled">
  <i class="bi-x"></i>
</span>
</button>
<!-- End Toggler -->

<!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<div class="navbar-absolute-top-scroller">
  <ul class="navbar-nav">
   



    <!-- Explore -->
    <li class="hs-has-sub-menu nav-item">
      <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Explore</a>

      <!-- Mega Menu -->
      <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
        <!-- Authentication -->
        <div class="hs-has-sub-menu nav-item">
          <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="#" role="button" aria-expanded="false">Available Addys</a>

          <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
            <a class="dropdown-item" href="/addys">All active</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="./page-login.html">Login</a>
            <a class="dropdown-item " href="./page-signup.html">Signup</a>
            <a class="dropdown-item " href="./page-reset-password.html">Reset Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="./page-login-simple.html">Login Simple</a>
            <a class="dropdown-item " href="./page-signup-simple.html">Signup Simple</a>
            <a class="dropdown-item " href="./page-reset-password-simple.html">Reset Password Simple</a>
          </div>
        </div>
        <!-- End Authentication -->

        <a class="dropdown-item " href="./account-overview.html">Personal Info</a>
        <a class="dropdown-item " href="./account-security.html">Security</a>
        <a class="dropdown-item " href="./account-notifications.html">Notifications</a>
        <a class="dropdown-item " href="./account-preferences.html">Preferences</a>
        <a class="dropdown-item " href="./account-orders.html">Orders</a>
        <a class="dropdown-item " href="./account-wishlist.html">Wishlist</a>
        <a class="dropdown-item " href="./account-payments.html">Payments</a>
        <a class="dropdown-item " href="./account-address.html">Address</a>
        <a class="dropdown-item " href="./account-teams.html">Teams</a>
      </div>
      <!-- End Mega Menu -->
    </li>
    <!-- End Account -->



    <!-- Blog -->
    <li class="hs-has-sub-menu nav-item">
      <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Earn by reshipping</a>

      <!-- Mega Menu -->
      <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item " href="./blog-journal.html">Journal</a>
        <a class="dropdown-item " href="./blog-metro.html">Metro</a>
        <a class="dropdown-item " href="./blog-newsroom.html">Newsroom</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item " href="./blog-article.html">Article</a>
        <a class="dropdown-item " href="./blog-author-profile.html">Author Profile</a>
      </div>
      <!-- End Mega Menu -->
    </li>
    <!-- End Blog -->

    <!-- Portfolio -->
    <li class="hs-has-sub-menu nav-item">
      <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Details</a>

      <!-- Mega Menu -->
      <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item " href="./portfolio-grid.html">FAQ</a>
        <a class="dropdown-item " href="./portfolio-product-article.html">Product Article</a>
        <a class="dropdown-item " href="./portfolio-case-studies-branding.html">Case Studies: Branding</a>
        <a class="dropdown-item " href="./portfolio-case-studies-product.html">Case Studies: Product</a>
      </div>
      <!-- End Mega Menu -->
    </li>
    <!-- End Portfolio -->

    <!-- Button -->
    <li class="nav-item">
      <a class="btn btn-primary btn-transition" href="" >Log in</a>
    </li>
    <!-- End Button -->
  </ul>
</div>
</div>
<!-- End Collapse -->
</nav>
</div>
</header>

<!-- ========== END HEADER ========== -->
