 <!-- ========== HEADER ========== -->
 <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
 data-hs-header-options='{
"fixMoment": 1000,
"fixEffect": "slide"
}'>


 <div class="container">
     <nav class="js-mega-menu navbar-nav-wrap">
         <!-- Default Logo -->
         <a class="navbar-brand" href="/index" aria-label="Front">
             <img class="navbar-brand-logo" src="/public/assets/logo.png" alt="Logo">
         </a>
         <!-- End Default Logo -->

         <!-- Toggler -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
             data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
             aria-label="Toggle navigation">
             <span class="navbar-toggler-default">
                 <i class="bi-list"></i>
             </span>
             <span class="navbar-toggler-toggled">
                 <i class="bi-x"></i>
             </span>
         </button>
         <!-- End Toggler -->

         <!-- Collapse -->
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <div class="navbar-absolute-top-scroller">
                 <ul class="navbar-nav">




                     <!-- Explore -->
                     <li class="hs-has-sub-menu nav-item">
                         <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="/addys"
                             role="button" aria-expanded="false">Explore</a>

                         <!-- Mega Menu -->
                         <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu"
                             style="min-width: 14rem;">
                             <!-- Authentication -->
                             <div class="hs-has-sub-menu nav-item">
                                 <a id="authenticationMegaMenu"
                                     class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="/addys"
                                     role="button" aria-expanded="false">Locations</a>

                                 <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu"
                                     style="min-width: 14rem;">
                                     <a class="dropdown-item" href="/addys">All Active</a>
                                     <div class="dropdown-divider"></div>
                                     <a class="dropdown-item " href="#">US</a>
                                     <a class="dropdown-item " href="#">Canada</a>
                                     <a class="dropdown-item " href="./page-reset-password.html">Europe</a>
                                 </div>
                             </div>
                             <!-- End Authentication -->

                             <a class="dropdown-item " href="./account-overview.html">Pricing</a>
                         </div>
                         <!-- End Mega Menu -->
                     </li>
                     <!-- End Account -->



                     <!-- Blog -->
                     <li class="hs-has-sub-menu nav-item">
                         <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="/reshipper"
                             role="button" aria-expanded="false">Earn by reshipping</a>

                         <!-- Mega Menu -->
                         <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu"
                             style="min-width: 14rem;">
                             <a class="dropdown-item " href="/reshipper">Sign up</a>
                             <a class="dropdown-item " href="./blog-journal.html">Requirements</a>
                             <a class="dropdown-item " href="./blog-journal.html">FAQ</a>
                         </div>
                         <!-- End Mega Menu -->
                     </li>
                     <!-- End Blog -->

                     <!-- Portfolio -->
                     <li class="hs-has-sub-menu nav-item">
                         <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle "
                             href="#" role="button" aria-expanded="false">Details</a>

                         <!-- Mega Menu -->
                         <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu"
                             style="min-width: 14rem;">
                             <a class="dropdown-item " href="./portfolio-grid.html">FAQ</a>
                             <a class="dropdown-item " href="./portfolio-grid.html">Terms & Conditions</a>
                             <a class="dropdown-item " href="./portfolio-grid.html">Privacy Policy</a>
                             <a class="dropdown-item " href="./portfolio-grid.html">Contact Us</a>
                            
                         </div>
                         <!-- End Mega Menu -->
                     </li>
                     <!-- End Portfolio -->

                     <!-- Button -->
                     <li class="nav-item">
                         <a class="btn btn-primary btn-transition" href="">Log in</a>
                     </li>
                     <!-- End Button -->
                 </ul>
             </div>
         </div>
         <!-- End Collapse -->
     </nav>
 </div>
</header>

<!-- ========== END HEADER ========== -->