<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
    data-hs-header-options='{
"fixMoment": 1000,
"fixEffect": "slide"
}'>


    <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap">
            <!-- Default Logo -->
            <a class="navbar-brand" href="/" aria-label="Front">
                <img class="navbar-brand-logo"  src="/public/assets/logo/pin/logo.png" alt="Logo">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-absolute-top-scroller">
                    <ul class="navbar-nav">

                         

                        <li class="hs-has-sub-menu nav-item">
                            <a id="locationMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#"
                                role="button" aria-expanded="false">Locations</a>

                            <!-- Mega Menu -->
                            <div class="hs-sub-menu dropdown-menu" aria-labelledby="locationMegaMenu"
                                style="min-width: 14rem;">
                                <a class="dropdown-item " href="/locations">US</a>
                                <a class="dropdown-item " href="/locations">Canada</a>


                            </div>
                            <!-- End Mega Menu -->
                        </li>

                        <li class="hs-has-sub-menu nav-item">
                            <a id="detailsMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#"
                                role="button" aria-expanded="false">Details</a>
                            <div class="hs-sub-menu dropdown-menu" aria-labelledby="detailsMenu"
                                style="min-width: 14rem;">
                                <a class="dropdown-item " href="/faq">FAQ</a>
                                <a class="dropdown-item " href="/contact">Contact Us</a>
    
                            </div>
                        </li>
                        <!-- End Details -->

                        <!-- Portfolio -->
                        <li class="hs-has-sub-menu nav-item">
                            <a id="locationMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#"
                                role="button" aria-expanded="false">Actions</a>

                            <!-- Mega Menu -->
                            <div class="hs-sub-menu dropdown-menu" aria-labelledby="locationMegaMenu"
                                style="min-width: 14rem;">
                                <a class="dropdown-item " href="/admin/forwarders/register">New forwarder</a>
                                <a class="dropdown-item " href="/locations">New package</a>
                                <a class="dropdown-item " href="/locations">New user</a>
                                <a class="dropdown-item " href="/locations">New addy</a>
                                <a class="dropdown-item " href="/admin/clients">All clients</a>


                            </div>
                            <!-- End Mega Menu -->
                        </li>
                        <!-- End Portfolio -->

                        <!-- Blog -->
                        <li class="hs-has-sub-menu nav-item">
                            <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" href="/admin" role="button"
                                aria-expanded="false">Dashboard</a>
                        </li>
                        <!-- End Blog -->

                        <% if(!user) { %>
                            <!-- Button -->
                            <li class="nav-item">
                                <a class="btn btn-primary btn-transition" href="/login">Log in</a>
                            </li>
                            <!-- End Button -->
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="btn btn-outline-primary btn-transition" href="/logout">Log out</a>
                                </li>
                                <% } %>
                    </ul>
                </div>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>

<!-- ========== END HEADER ========== -->