<div class="dropdown-menu" aria-labelledby="footerLightSelectLanguage">
    <a class="dropdown-item d-flex align-items-center active" href="#">
        <img class="avatar avatar-xss avatar-circle me-2"
            src="/public/assets/svg/flags/1x1/us.svg" alt="Image description"
            width="16" />
        <span>English (US)</span>
    </a>
    <a class="dropdown-item d-flex align-items-center" href="#">
        <img class="avatar avatar-xss avatar-circle me-2"
            src="/public/assets/svg/flags/1x1/de.svg" alt="Image description"
            width="16" />
        <span>Deutsch</span>
    </a>
    <a class="dropdown-item d-flex align-items-center" href="#">
        <img class="avatar avatar-xss avatar-circle me-2"
            src="/public/assets/svg/flags/1x1/es.svg" alt="Image description"
            width="16" />
        <span>Español</span>
    </a>
    <a class="dropdown-item d-flex align-items-center" href="#">
        <img class="avatar avatar-xss avatar-circle me-2"
            src="/public/assets/svg/flags/1x1/ru.svg" alt="Image description"
            width="16" />
        <span>Pусский</span>
    </a>
</div>