<%- layout('layouts/boilerplate') %>

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="container position-relative content-space-t-3 content-space-t-md-4 content-space-t-lg-4">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-md-10 col-lg-5">
          <!-- Heading -->
          <div class="mb-7">
            <h1 class="display-4 mb-3">
              Become a<br>forwarder
            </h1>
            <p class="lead">Work from home? Want to turn your address into additional income? Submit an application today.</p>
          </div>
          <!-- End Title & Description -->

          <div class="p-3 p-lg-0">
            <img class="img-fluid" src="/public/assets/ec-global-transaction.png" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <!-- Form -->
          <form class="js-validate needs-validation" novalidate>
            <!-- Card -->
            <div class="card">
              <div class="card-header border-bottom text-center">
                <h4 class="card-header-title">Submit an application</h4>
              </div>

              <div class="card-body pt-0">
                <div data-tf-widget="GmW1Kpi5" data-tf-iframe-props="title=Registration Form" data-tf-medium="snippet"
                  style="width:100%;height:400px;"></div>
                <script src="//embed.typeform.com/next/embed.js"></script>
              </div>

              <!-- <div class="card-body">
                <div class="row gx-3">
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupHeroFormFirstName">First name</label>
                      <input type="text" class="form-control form-control-lg" name="signupHeroFormNameFirstName" id="signupHeroFormFirstName" placeholder="First name" aria-label="First name" required>
                      <span class="invalid-feedback">Please enter your first name</span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupHeroFormLasttName">Last name</label>
                      <input type="text" class="form-control form-control-lg" name="signupHeroFormNameLastName" id="signupHeroFormLasttName" placeholder="Last name" aria-label="Last name" required>
                      <span class="invalid-feedback">Please enter your last name</span>
                    </div>
                  </div>
                </div>

                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormWorkEmail">Email address</label>
                  <input type="email" class="form-control form-control-lg" name="signupHeroFormNameWorkEmail" id="signupHeroFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" required>
                  <span class="invalid-feedback">Please enter your email address</span>
                </div>

               <div class="mb-4">
                <label class="form-label" for="signupHeroFormWorkEmail">What city do you live in?</label>
                <input type="email" class="form-control form-control-lg" name="signupHeroFormNameWorkEmail" id="signupHeroFormWorkEmail" placeholder="Los Angeles" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter your city</span>
              </div>


              

                <div class="form-check mb-4">
                  <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheck" name="signupFormPrivacyCheck" required>
                  <label class="form-check-label small" for="signupHeroFormPrivacyCheck"> By submitting this form I have read and acknowledged the <a href=/terms>Requirements</a></label>
                  <span class="invalid-feedback">Please accept our Privacy Policy.</span>
                </div>

                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">Apply</button>
                </div>
                <div class="text-center">
                    <span class="form-text">We'll get back to you in 1-2 business days.</span>
                  </div>
              </div> -->
            </div>
          </form>
          <!-- End Form -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Hero -->

    <div class="container content-space-t-2 content-space-t-lg-3 content-space-b-lg-2">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap">How does it work?</span>
        <h2>Receive, forward, get paid</h2>
      </div>
      <!-- End Heading -->

      <!-- Step -->
      <ul class="step step-md step-centered">
        <li class="step-item">
          <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-primary">1</span>
            <div class="step-content">
              <h3>Receive a package</h3>
              <p>A box shows up at your door. You bring it in, take a picture and upload it to Addys.</p>
            </div>
          </div>
        </li>

        <li class="step-item">
          <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-primary">2</span>
            <div class="step-content">
              <h3>Forward gets requested</h3>
              <p>The client decides where to ship the box and generates a label. You download the label, print and
                attach it.</p>
            </div>
          </div>
        </li>

        <li class="step-item">
          <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-primary">3</span>
            <div class="step-content">
              <h3>Drop off & get paid</h3>
              <p>You drop off the box at your nearest shipping service, and get paid to your balance same-day.</p>
            </div>
          </div>
        </li>
      </ul>
      <!-- End Step -->
    </div>


    <div class="overflow-hidden">
      <!-- Hero -->
      <div class="position-relative bg-img-start">
        <div class="container content-space-t-1 content-space-t-lg-2 content-space-b-1 content-space-b-lg-2">
          <!-- Heading -->
          <div class="w-md-75 w-lg-50 text-center mx-auto mb-9">
            <h1>Straightforward and generous income structure</h1>
          </div>
          <!-- End Heading -->


        </div>
      </div>
      <!-- End Hero -->

      <!-- Pricing -->
      <div class="container mt-n5 mt-lg-n10">
        <div class="position-relative zi-1 mb-10">
          <div class="row">
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card h-100 zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                    <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold" data-hs-toggle-switch-item-options="{
                               &quot;min&quot;: 29,
                               &quot;max&quot;: 19
                             }">15</span>
                    <span>/box</span>
                  </div>

                  <h3 class="card-title">Earned on every box shipped</h3>
                  <p class="card-text">For example, 5 boxes a week is $75</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0 content-space-b-1">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-soft-bg-primary mb-0">
                    <li class="list-checked-item">Flat fee for all boxes</li>
                    <li class="list-checked-item">$1 per day of storage</li>
                    <li class="list-checked-item">Payouts every week</li>
                  </ul>
                  <!-- End List Checked -->
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card bg-primary h-100 zi-1">
                <div class="card-header text-center">
                  <div class="text-white mb-2">
                    <span class="fs-5 align-top fw-semi-bold">$</span>
                    <span id="pricingCount2" class="fs-1 fw-semi-bold" data-hs-toggle-switch-item-options="{
                               &quot;min&quot;: 49,
                               &quot;max&quot;: 39
                             }">5</span>
                    <span>/month per client</span>
                  </div>

                  <h3 class="card-title text-white">Earned on every client</h3>
                  <p class="card-text text-white-70">Flat monthly fee for each mailbox opened with you</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0 content-space-b-1">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-soft-bg-light">
                    <li class="list-checked-item text-white">Flat fee, even for 0 packages</li>
                    <li class="list-checked-item text-white">Ensures passive income</li>
                    <li class="list-checked-item text-white">Payouts every month</li>
                  </ul>
                  <!-- End List Checked -->
                </div>

              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->


          </div>
          <!-- End Row -->

          <!-- SVG Elements -->
          <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
            <svg viewBox="0 0 522 504" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5"
                d="M332 504H510.4C516.8 504 522 498.8 522 492.4V314C522 209.1 436.9 124 332 124C227.1 124 142 209.1 142 314C142 418.9 227.1 504 332 504Z"
                fill="#00C9A7"></path>
              <path
                d="M190 380H11.6C5.2 380 0 374.8 0 368.4V190C0 85.1 85.1 0 190 0C294.9 0 380 85.1 380 190C380 294.9 294.9 380 190 380Z"
                fill="#377dff"></path>
            </svg>
          </figure>

          <figure class="position-absolute top-0 end-0 mt-n8 me-n8" style="width: 10rem;">
            <img class="img-fluid" src="/public/assets/svg/components/dots-lg.svg" alt="Image Description">
          </figure>
          <!-- End SVG Elements -->
        </div>


      </div>
      <!-- End Pricing -->
    </div>




    <div class="overflow-hidden">
      <div class="container position-relative content-space-b-1 content-space-b-lg-3 content-space-t-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="text-cap">Still confused?</span>
          <h2>Addys makes forwarding<br>simple and easy</h2>
        </div>
        <!-- End Heading -->

        <div class="row">


          <div class="col-sm-6 col-md-4 mb-3 mb-md-5">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.6 5.59998L20.9 10.9C21.3 11.3 21.3 11.9 20.9 12.3L17.6 15.6L11.6 9.59998L15.6 5.59998ZM2.3 12.3L7.59999 17.6L11.6 13.6L5.59999 7.59998L2.3 10.9C1.9 11.3 1.9 11.9 2.3 12.3Z"
                    fill="#035A4B"></path>
                  <path opacity="0.3"
                    d="M17.6 15.6L12.3 20.9C11.9 21.3 11.3 21.3 10.9 20.9L7.59998 17.6L13.6 11.6L17.6 15.6ZM10.9 2.3L5.59998 7.6L9.59998 11.6L15.6 5.6L12.3 2.3C11.9 1.9 11.3 1.9 10.9 2.3Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Low time investment</h4>
              <p>All you do is receive packages, print out a shipping label, and drop them off</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4 mb-3 mb-md-5">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3"
                    d="M12.5 22C11.9 22 11.5 21.6 11.5 21V3C11.5 2.4 11.9 2 12.5 2C13.1 2 13.5 2.4 13.5 3V21C13.5 21.6 13.1 22 12.5 22Z"
                    fill="#035A4B"></path>
                  <path
                    d="M17.8 14.7C17.8 15.5 17.6 16.3 17.2 16.9C16.8 17.6 16.2 18.1 15.3 18.4C14.5 18.8 13.5 19 12.4 19C11.1 19 10 18.7 9.10001 18.2C8.50001 17.8 8.00001 17.4 7.60001 16.7C7.20001 16.1 7 15.5 7 14.9C7 14.6 7.09999 14.3 7.29999 14C7.49999 13.8 7.80001 13.6 8.20001 13.6C8.50001 13.6 8.69999 13.7 8.89999 13.9C9.09999 14.1 9.29999 14.4 9.39999 14.7C9.59999 15.1 9.8 15.5 10 15.8C10.2 16.1 10.5 16.3 10.8 16.5C11.2 16.7 11.6 16.8 12.2 16.8C13 16.8 13.7 16.6 14.2 16.2C14.7 15.8 15 15.3 15 14.8C15 14.4 14.9 14 14.6 13.7C14.3 13.4 14 13.2 13.5 13.1C13.1 13 12.5 12.8 11.8 12.6C10.8 12.4 9.99999 12.1 9.39999 11.8C8.69999 11.5 8.19999 11.1 7.79999 10.6C7.39999 10.1 7.20001 9.39998 7.20001 8.59998C7.20001 7.89998 7.39999 7.19998 7.79999 6.59998C8.19999 5.99998 8.80001 5.60005 9.60001 5.30005C10.4 5.00005 11.3 4.80005 12.3 4.80005C13.1 4.80005 13.8 4.89998 14.5 5.09998C15.1 5.29998 15.6 5.60002 16 5.90002C16.4 6.20002 16.7 6.6 16.9 7C17.1 7.4 17.2 7.69998 17.2 8.09998C17.2 8.39998 17.1 8.7 16.9 9C16.7 9.3 16.4 9.40002 16 9.40002C15.7 9.40002 15.4 9.29995 15.3 9.19995C15.2 9.09995 15 8.80002 14.8 8.40002C14.6 7.90002 14.3 7.49995 13.9 7.19995C13.5 6.89995 13 6.80005 12.2 6.80005C11.5 6.80005 10.9 7.00005 10.5 7.30005C10.1 7.60005 9.79999 8.00002 9.79999 8.40002C9.79999 8.70002 9.9 8.89998 10 9.09998C10.1 9.29998 10.4 9.49998 10.6 9.59998C10.8 9.69998 11.1 9.90002 11.4 9.90002C11.7 10 12.1 10.1 12.7 10.3C13.5 10.5 14.2 10.7 14.8 10.9C15.4 11.1 15.9 11.4 16.4 11.7C16.8 12 17.2 12.4 17.4 12.9C17.6 13.4 17.8 14 17.8 14.7Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Earn from home</h4>
              <p>Work from home? Forwarding is an easy way to monetize your address</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3" d="M3 3V17H7V21H15V9H20V3H3Z" fill="#035A4B"></path>
                  <path
                    d="M20 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H20C20.6 2 21 2.4 21 3V21C21 21.6 20.6 22 20 22ZM19 4H4V8H19V4ZM6 18H4V20H6V18ZM6 14H4V16H6V14ZM6 10H4V12H6V10ZM10 18H8V20H10V18ZM10 14H8V16H10V14ZM10 10H8V12H10V10ZM14 18H12V20H14V18ZM14 14H12V16H14V14ZM14 10H12V12H14V10ZM19 14H17V20H19V14ZM19 10H17V12H19V10Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Passive income</h4>
              <p>In addition to $15 per forward, earn a flat monthly fee, even if you don't forward any packages.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->



          <div class="col-sm-6 col-md-4 mb-3 mb-md-5">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3"
                    d="M10.9607 12.9128H18.8607C19.4607 12.9128 19.9607 13.4128 19.8607 14.0128C19.2607 19.0128 14.4607 22.7128 9.26068 21.7128C5.66068 21.0128 2.86071 18.2128 2.16071 14.6128C1.16071 9.31284 4.96069 4.61281 9.86069 4.01281C10.4607 3.91281 10.9607 4.41281 10.9607 5.01281V12.9128V12.9128Z"
                    fill="#035A4B"></path>
                  <path
                    d="M12.9607 10.9128V3.01281C12.9607 2.41281 13.4607 1.91281 14.0607 2.01281C16.0607 2.21281 17.8607 3.11284 19.2607 4.61284C20.6607 6.01284 21.5607 7.91285 21.8607 9.81285C21.9607 10.4129 21.4607 10.9128 20.8607 10.9128H12.9607V10.9128Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Easy payments</h4>
              <p>Get cashouts every week, or every two weeks, in USD. Cryptocurrency support coming soon.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-md-5">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3"
                    d="M16 0.200012H4C1.8 0.200012 0 2.00001 0 4.20001V16.2C0 18.4 1.8 20.2 4 20.2H16C18.2 20.2 20 18.4 20 16.2V4.20001C20 2.00001 18.2 0.200012 16 0.200012ZM15 10.2C15 10.9 14.8 11.6 14.6 12.2H18V16.2C18 17.3 17.1 18.2 16 18.2H12V14.8C11.4 15.1 10.7 15.2 10 15.2C9.3 15.2 8.6 15 8 14.8V18.2H4C2.9 18.2 2 17.3 2 16.2V12.2H5.4C5.1 11.6 5 10.9 5 10.2C5 9.50001 5.2 8.80001 5.4 8.20001H2V4.20001C2 3.10001 2.9 2.20001 4 2.20001H8V5.60001C8.6 5.30001 9.3 5.20001 10 5.20001C10.7 5.20001 11.4 5.40001 12 5.60001V2.20001H16C17.1 2.20001 18 3.10001 18 4.20001V8.20001H14.6C14.8 8.80001 15 9.50001 15 10.2Z"
                    fill="#035A4B"></path>
                  <path
                    d="M12 1.40002C15.4 2.20002 18 4.80003 18.8 8.20003H14.6C14.1 7.00003 13.2 6.10003 12 5.60003V1.40002V1.40002ZM5.40001 8.20003C5.90001 7.00003 6.80001 6.10003 8.00001 5.60003V1.40002C4.60001 2.20002 2.00001 4.80003 1.20001 8.20003H5.40001ZM14.6 12.2C14.1 13.4 13.2 14.3 12 14.8V19C15.4 18.2 18 15.6 18.8 12.2H14.6V12.2ZM8.00001 14.8C6.80001 14.3 5.90001 13.4 5.40001 12.2H1.20001C2.00001 15.6 4.60001 18.2 8.00001 19V14.8V14.8Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Privacy-first</h4>
              <p>Your address is only shared with paying customers who have had their identities verified. Your identity
                is never shared.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pe-lg-6">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 8.725C6 8.125 6.4 7.725 7 7.725H14L18 11.725V12.925L22 9.725L12.6 2.225C12.2 1.925 11.7 1.925 11.4 2.225L2 9.725L6 12.925V8.725V8.725Z"
                    fill="#035A4B"></path>
                  <path opacity="0.3"
                    d="M22 9.72498V20.725C22 21.325 21.6 21.725 21 21.725H3C2.4 21.725 2 21.325 2 20.725V9.72498L11.4 17.225C11.8 17.525 12.3 17.525 12.6 17.225L22 9.72498ZM15 11.725H18L14 7.72498V10.725C14 11.325 14.4 11.725 15 11.725Z"
                    fill="#035A4B"></path>
                </svg>

              </span>

              <h4>Friendly customer service</h4>
              <p>We strive to make your experience forwarding as pleasant and easy as possible.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->



        </div>
        <!-- End Row -->

        <!-- SVG Shape -->

        <!-- End SVG Shape -->
      </div>
    </div>




    <div class="bg-dark rounded-2 mx-3 mx-xl-10"
      style="background-image: url(/public/assets/svg/components/wave-pattern-light.svg);">
      <div class="container-xl container-fluid content-space-1 content-space-md-2 px-4 px-md-8 px-lg-10">
        <!-- Heading -->
        <div class="text-center mx-md-auto mb-5 mb-md-9">
          <h2 class="h1 text-white">Approval Requirements</h2>
        </div>
        <!-- End Heading -->

        <div class="row mb-7">
          <div class="col-md mb-5 mb-md-0">
            <!-- Card -->
            <div class="card text-center">
              <div class="card-body">
                <div class="mb-4">
                  <img class="img-fluid" src="/public/assets/svg/illustrations/oc-looking-for-answers.svg"
                    alt="Image Description" style="height: 12rem;">
                </div>

                <h3 class="card-title">Identity Verification</h3>
                <p class="card-text">We verify every forwarder using OnFido, a bank-level identity verifier. You may
                  only register as a forwarder for the address that shows up as on
                  public records.</p>
              </div>
            </div>
          </div>
          <div class="col-md mb-5 mb-md-0">
            <!-- Card -->
            <div class="card text-center">
              <div class="card-body">
                <div class="mb-4">
                  <img class="img-fluid" src="/public/assets/ec-account.png" alt="Image Description"
                    style="height: 12rem;">
                </div>

                <h3 class="card-title">Background Check</h3>
                <p class="card-text">We prioritize the safety of our customer's packages over all else. As a result, you
                  must consent to a background check in order to become a forwarder.</p>
              </div>
            </div>
          </div>
          <div class="col-md mb- mb-md-0">
            <!-- Card -->
            <div class="card text-center">
              <div class="card-body">
                <div class="mb-4">
                  <img class="img-fluid" src="/public/assets/svg/illustrations/oc-chatting.svg" alt="Image Description"
                    style="height: 12rem;">
                </div>

                <h3 class="card-title">Live Interview</h3>
                <p class="card-text">As the final step, you will sit down for a zoom call with an Addys employee who
                  will get to know you and make the final decision on whether to approve you.</p>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>



        <div class="text-center">
          <p class="text-white">Can't wait to get started? <a class="link link-warning" href="/forwarder">Submit our form <i
                class="bi-arrow-right-circle-fill align-middle fs-3 ms-1"></i></a></p>
        </div>
      </div>
    </div>




    <div class="container content-space-2 content-space-lg-2 content-space-t-1">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
        <h2>Frequently Asked Questions</h2>
      </div>
      <!-- End Heading -->

      <div class="row justify-content-md-center">
        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>Who can sign up?</h4>
          <p>Anyone over 18 who lives at a residential address. You must also be approved, as specified above.</p>
        </div>

        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>How do I get paid?</h4>
          <p>You get paid every week via direct deposit. Crypto coming soon.</p>
        </div>

        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>I’m worried about my privacy, how do you protect my address?</h4>
          <p>Your address is only provided to verified clients after approval for a mailbox with your address. Your name
            is never shared. </p>
        </div>

        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>How much can I make per month?</h4>
          <p>Depends on how many clients sign up with you.</p>
        </div>

        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>Is there a limit to how much I can forward?</h4>
          <p>Yes, for safety reasons we apply limits on how many packages per week new forwarders may process. As you
            build a history of positive performance, your limit will be automatically raised. </p>
        </div>

        <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
          <h4>Can I forward from any address other than my own?</h4>
          <p>No, you will only be approved for the address that is listed as current in public records.</p>
        </div>
        <!-- End Col -->

      </div>
      <!-- End Row -->
    </div>


    <!-- Testimonials -->
    <div class="container content-space-b-2 content-space-b-lg-3">
      <div class="text-center mb-5">
        <img class="avatar avatar-lg avatar-4x3" src="/public/assets/svg/illustrations/oc-person-3.svg"
          alt="Illustration">
      </div>

      <!-- Blockquote -->
      <figure class="w-md-75 text-center mx-md-auto">
        <blockquote class="blockquote">“I was one of the first Addys forwarders, and I've been earning way more than I
          expected, especially for how much time I put in. My buddy is in the process of opening an addy too!
        </blockquote>

        <figcaption class="blockquote-footer text-center">
          Julian
          <span class="blockquote-footer-source">Our second ever forwarder :)</span>
        </figcaption>
      </figure>
      <!-- End Blockquote -->
    </div>
    <!-- End Testimonials -->




  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <script>
    window.intercomSettings = {
      api_base: "https://api-iam.intercom.io",
      app_id: "r1o1zoy1"
    };
  </script>
  
  <script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/r1o1zoy1'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/r1o1zoy1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
  </script>