<%- layout('layouts/boilerplate') %> 
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="gradient-x-overlay-sm-primary position-relative overflow-hidden">
      <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
        <%- include('./partials/flash') %> 

        <div class="w-lg-65 text-center mx-lg-auto">

          <!-- Heading -->
          <div class="mb-5">
            <h1 class="display-4 mb-3">Need an  <span class="text-primary">Addy?</span></h1>
            <p class="lead">Scale your resale business with residential address forwarders</p>
          </div>
          <!-- End Heading -->

          <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3">
            <a class="btn btn-primary btn-transition" href="/addys">Browse locations</a>
            <small>or</small>
            <a class="btn btn-soft-dark btn-transition" id="pricingBtn"">See pricing <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
      </div>

      <!-- Mockup -->
      <div class="container content-space-b-2 content-space-b-lg-3">
        <div class="position-relative w-lg-75 text-center mx-lg-auto">
          <!-- Browser Device -->
          <figure class="device-browser">
            <!-- <div class="device-browser-header">
              <div class="device-browser-header-btn-list">
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
              </div>
              <div class="device-browser-header-browser-bar">www.htmlstream.com/front/</div>
            </div> -->

            <div class="">
              <img class="device-browser-img" src="/public/assets/guy-forwarding.png" alt="Image Description">
            </div>
          </figure>
          <!-- End Browser Device -->

          <!-- SVG Shape -->
          <!-- <figure class="position-absolute top-0 end-0 mt-n10 me-n10" style="width: 12rem;" data-aos="fade-up" data-aos-delay="100" data-aos-offset="-50">
            <img class="img-fluid" src="/public/assets/dots.svg" alt="Image Description">
          </figure> -->
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <!-- <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 10rem;" data-aos="fade-up">
            <img class="img-fluid" src="/public/assets/dots.svg" alt="Image Description">
          </figure> -->
          <!-- End SVG Shape -->
        </div>
      </div>
      <!-- End Mockup -->

      <!-- SVG Background Shape -->
      <figure class="position-absolute top-0 end-0 zi-n1 mt-n10 me-n10" style="width: 32rem;">
        <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M451 820C247.2 820 82 654.8 82 451C82 247.2 247.2 82 451 82" stroke="white" stroke-width="164" stroke-miterlimit="10"/>
        </svg>
      </figure>
      <!-- End SVG Background Shape -->

      <!-- SVG Background Shape -->
      <figure class="position-absolute bottom-0 start-0 zi-n1 mb-n10 me-n10" style="width: 21rem;">
        <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint1_linear)" stroke-width="164" stroke-miterlimit="10"/>
          <defs>
            <linearGradient id="paint1_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="white" stop-opacity="0"/>
              <stop offset="1" stop-color="#377dff"/>
            </linearGradient>
          </defs>
        </svg>
      </figure>
      <!-- End SVG Background Shape -->
    </div>
    <!-- End Hero -->

   

    <!-- Features -->
    <div class="container content-space-t-2 content-space-b-2 content-space-b-lg-3">
      <div class="row align-items-md-center">
        <div class="col-md-7 mb-7 mb-md-0 d-none d-md-block">
          <div class="w-sm-75 mx-sm-auto" >
            <!-- Card -->
            <div class="  text-center content-space-md-1">

              <div class="w-75 mx-auto">
                <img class="img-fluid rounded-top-2" src="/public/assets/ec-global-communication.png" alt="Image Description">
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-5 order-md-2">
          <!-- Heading -->
          <div class="mb-5">
            <h2 class="mb-3">Fast, unlimited shipping to anywhere in the world</h2>
            <p>Do you live outside the US? Having trouble finding new residential addresses to set up your checkout bots? Addys solves these problems and more. </p>
          <!-- End Heading -->

          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg">
            <li class="list-checked-item">Completely virtual mailbox</li>
            <li class="list-checked-item">All residential addresses</li>
            <li class="list-checked-item">International forwarding</li>
          </ul>
          <!-- End List Checked -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Features -->
    </div>

    <!-- CTA -->
    <div class="container">
      <div class="w-lg-75 mx-lg-auto">
        <div class="card card-sm overflow-hidden">
          <!-- Card -->
          <div class="card-body">
            <div class="row justify-content-md-start align-items-md-center text-center text-md-start">
              <div class="col-md offset-md-3 mb-3 mb-md-0">
                <h4 class="card-title">Choose a location to start forwarding</h4>
              </div>

              <div class="col-md-auto">
                <a class="btn btn-primary btn-transition" href="/addys">Get started</a>
              </div>
            </div>

            <!-- SVG Shape -->
            <figure class="w-25 d-none d-md-block position-absolute top-0 start-0 mt-n2">
              <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint2_linear)" stroke-width="164" stroke-miterlimit="10"/>
                <defs>
                  <linearGradient id="paint2_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="white" stop-opacity="0"/>
                    <stop offset="1" stop-color="#377dff"/>
                  </linearGradient>
                </defs>
              </svg>
            </figure>
            <!-- End SVG Shape -->
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End CTA -->

    <!-- Features -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row align-items-md-center justify-content-center">
        <div class="col-md-5 order-md-2 mb-7 mb-md-0">
          <div class="w-sm-75 mx-sm-auto" >
            <!-- Card -->
            <div class="text-center content-space-md-1">
              <div class="w-50 w-md-100 mx-auto">
                <img class="img-fluid rounded-top-2" src="/public/assets/oc-two-step-verification.svg" alt="Image Description">
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-5">
          <!-- Heading -->
          <div class="mb-5">
            <h2 class="mb-3">Verified and professional forwarders</h2>
            <p>Addys forwarders undergo a bank-level identity verification and background check, as well as a live interview.</p>
          </div>
          <!-- End Heading -->

          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg">
            <li class="list-checked-item">Identities verified with OnFido</li>
            <li class="list-checked-item">Closely monitored performance</li>
            <li class="list-checked-item">Completely transparent mail flow</li>
          </ul>
          <!-- End List Checked -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Features -->

    <!-- Icon Blocks -->
    <div class="position-relative bg-dark" style="background-image: url(/public/assets/svg/components/wave-pattern-light.svg);">
      <div class="container content-space-2 content-space-lg-3 position-relative zi-2">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h2 class="text-white">Scale up with Addys</h2>
          <p class="text-white-70">Whether you’re an experienced reseller, or just getting started, Addys can help you grow</p>
        </div>
        <!-- End Heading -->

        <!-- Icon Blocks -->
        <div class="row mb-5 mb-sm-9">
          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="#035A4B"/>
              <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Flexible forwarding</h4>
            <p class="text-white-70">Addys' easy-to-use app interface allows you to specify when and where to forward.</p>
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M3 3V17H7V21H15V9H20V3H3Z" fill="#035A4B"/>
              <path d="M20 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H20C20.6 2 21 2.4 21 3V21C21 21.6 20.6 22 20 22ZM19 4H4V8H19V4ZM6 18H4V20H6V18ZM6 14H4V16H6V14ZM6 10H4V12H6V10ZM10 18H8V20H10V18ZM10 14H8V16H10V14ZM10 10H8V12H10V10ZM14 18H12V20H14V18ZM14 14H12V16H14V14ZM14 10H12V12H14V10ZM19 14H17V20H19V14ZM19 10H17V12H19V10Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Accurate estimations</h4>
            <p class="text-white-70">Explore your shipping options to compare costs before submitting a request </p>
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M18 20.3C20.2091 20.3 22 18.5092 22 16.3C22 14.0909 20.2091 12.3 18 12.3C15.7909 12.3 14 14.0909 14 16.3C14 18.5092 15.7909 20.3 18 20.3Z" fill="#035A4B"/>
              <path d="M18 18.3C17.4 18.3 17 17.9 17 17.3V15.3C17 14.7 17.4 14.3 18 14.3C18.6 14.3 19 14.7 19 15.3V17.3C19 17.9 18.6 18.3 18 18.3Z" fill="#035A4B"/>
              <path d="M14.4 18.1001C14.5 18.5001 14.4 19.0001 14 19.2001C13.8 19.3001 13.7 19.3 13.5 19.3C13.2 19.3 12.8 19.1 12.6 18.8V18.7001C12.1 18.9001 11.6 19.0001 11 19.1001V19.2001C11 19.8001 10.6 20.2001 10 20.2001C9.4 20.2001 9 19.8001 9 19.2001V19.1001C8.4 19.0001 7.89999 18.9001 7.39999 18.7001V18.8C7.19999 19.1 6.9 19.3 6.5 19.3C6.3 19.3 6.2 19.3001 6 19.2001C5.5 18.9001 5.40001 18.3 5.60001 17.8V17.7001C5.20001 17.4001 4.79999 17 4.39999 16.5H4.3C4.1 16.6 4 16.6001 3.8 16.6001C3.5 16.6001 3.09999 16.4001 2.89999 16.1001C2.59999 15.6001 2.8 15.0001 3.3 14.7001H3.39999C3.19999 14.2001 3.1 13.7001 3 13.1001C2.4 13.1001 2 12.7001 2 12.1001C2 11.5001 2.4 11.1001 3 11.1001H3.10001C3.20001 10.5001 3.3 10 3.5 9.5H3.39999C2.89999 9.2 2.8 8.6001 3 8.1001C3.3 7.6001 3.89999 7.50007 4.39999 7.70007H4.5C4.8 7.30007 5.2 6.9 5.7 6.5V6.40002C5.4 5.90002 5.60001 5.3 6.10001 5C6.60001 4.7 7.2 4.90002 7.5 5.40002V5.5C8 5.3 8.50001 5.2001 9.10001 5.1001V5C9.10001 4.4 9.50001 4 10.1 4C10.7 4 11.1 4.4 11.1 5V5.1001C11.7 5.2001 12.2 5.3 12.7 5.5V5.40002C13 4.90002 13.6 4.8 14.1 5C14.6 5.3 14.7 5.90002 14.5 6.40002V6.5C14.9 6.8 15.3 7.20007 15.7 7.70007H15.8C16.3 7.40007 16.9 7.6001 17.2 8.1001C17.5 8.6001 17.3 9.2 16.8 9.5H16.7C16.9 10 17 10.5001 17.1 11.1001H17.2C17.8 11.1001 18.2 11.5001 18.2 12.1001C16 12.1001 14.2 13.9001 14.2 16.1001C14 17.0001 14.2 17.6001 14.4 18.1001ZM11.8 8.40002H8.89999C8.59999 8.40002 8.4 8.5001 8.2 8.6001C8.1 8.7001 7.99999 9.00005 7.89999 9.30005L7.39999 11.9C7.39999 12.1 7.3 12.3 7.3 12.3C7.3 12.5 7.4 12.6001 7.5 12.7001C7.6 12.8001 7.8 12.9 8 12.9C8.2 12.9 8.40001 12.8001 8.60001 12.6001C8.90001 12.4001 9.1 12.3001 9.2 12.2001C9.3 12.1001 9.59999 12.1001 9.89999 12.1001C10.2 12.1001 10.4 12.2 10.6 12.3C10.8 12.4 11 12.6 11.1 12.9C11.2 13.2 11.3 13.5 11.3 13.8C11.3 14.1 11.2 14.4001 11.1 14.7001C11 15.0001 10.8 15.2 10.6 15.3C10.4 15.4 10.1 15.5 9.89999 15.5C9.59999 15.5 9.30001 15.4001 9.10001 15.2001C8.80001 15.0001 8.7 14.8 8.5 14.4C8.3 14 8.1 13.9 7.8 13.9C7.6 13.9 7.5 14.0001 7.3 14.1001C7.2 14.2001 7.10001 14.4 7.10001 14.5C7.10001 14.7 7.19999 15 7.39999 15.3C7.59999 15.6 7.9 15.9001 8.3 16.1001C8.7 16.3001 9.19999 16.5 9.89999 16.5C10.5 16.5 11 16.4001 11.5 16.1001C12 15.8001 12.3 15.5001 12.5 15.1001C12.7 14.7001 12.9 14.2001 12.9 13.6001C12.9 13.2001 12.8 12.9001 12.7 12.6001C12.6 12.3001 12.4 12 12.2 11.8C12 11.6 11.7 11.4 11.4 11.3C11.1 11.2 10.8 11.1001 10.4 11.1001C9.99999 11.1001 9.5 11.2 9 11.5L9.3 9.70007H11.9C12.2 9.70007 12.4 9.6 12.5 9.5C12.6 9.4 12.7 9.2 12.7 9C12.6 8.6 12.3 8.40002 11.8 8.40002Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Ship straight to your buyer</h4>
            <p class="text-white-70">Addys understands and optimizes for your business, such as allowing package forwarding straight to buyers</p>
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M11.8 5.2L17.7 8.6V15.4L11.8 18.8L5.90001 15.4V8.6L11.8 5.2ZM11.8 2C11.5 2 11.2 2.1 11 2.2L3.8 6.4C3.3 6.7 3 7.3 3 7.9V16.2C3 16.8 3.3 17.4 3.8 17.7L11 21.9C11.3 22 11.5 22.1 11.8 22.1C12.1 22.1 12.4 22 12.6 21.9L19.8 17.7C20.3 17.4 20.6 16.8 20.6 16.2V7.9C20.6 7.3 20.3 6.7 19.8 6.4L12.6 2.2C12.4 2.1 12.1 2 11.8 2Z" fill="#035A4B"/>
              <path d="M11.8 8.69995L8.90001 10.3V13.7L11.8 15.3L14.7 13.7V10.3L11.8 8.69995Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Automatic address jigger</h4>
            <p class="text-white-70">Addys generates a list of jigged addresses and keeps track of what you've used</p>
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M2.10001 10C3.00001 5.6 6.69998 2.3 11.2 2L8.79999 4.39999L11.1 7C9.60001 7.3 8.30001 8.19999 7.60001 9.59999L4.5 12.4L2.10001 10ZM19.3 11.5L16.4 14C15.7 15.5 14.4 16.6 12.7 16.9L15 19.5L12.6 21.9C17.1 21.6 20.8 18.2 21.7 13.9L19.3 11.5Z" fill="#035A4B"/>
              <path d="M13.8 2.09998C18.2 2.99998 21.5 6.69998 21.8 11.2L19.4 8.79997L16.8 11C16.5 9.39998 15.5 8.09998 14 7.39998L11.4 4.39998L13.8 2.09998ZM12.3 19.4L9.69998 16.4C8.29998 15.7 7.3 14.4 7 12.8L4.39999 15.1L2 12.7C2.3 17.2 5.7 20.9 10 21.8L12.3 19.4Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Rigorous ID verification</h4>
            <p class="text-white-70">Rest easy knowing your packages are in good hands</p>
          </div>
          <!-- End Col -->

          <div class="col-sm-6 col-md-4">
            <span class="svg-icon text-white mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M7 20.5L2 17.6V11.8L7 8.90002L12 11.8V17.6L7 20.5ZM21 20.8V18.5L19 17.3L17 18.5V20.8L19 22L21 20.8Z" fill="#035A4B"/>
              <path d="M22 14.1V6L15 2L8 6V14.1L15 18.2L22 14.1Z" fill="#035A4B"/>
              </svg>

            </span>
            <h4 class="text-white">Automated forwarding <span class="badge bg-warning text-dark rounded-pill ms-1">Coming soon</span></h4>
            <p class="text-white-70">Build flows to forward specific packages to specific addresses, no input required.</p>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="text-center">
          <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3 mb-3">
            <a class="btn btn-light btn-transition" href="/register">Sign up and start shipping</a>
            <small class="text-white-70">or</small>
            <a class="btn btn-dark btn-transition" href="/forwarder">Earn extra money forwarding</a>
          </div>

        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->

  

    <!-- Pricing -->
    <div class="container content-space-2 content-space-lg-3">

      <div class="overflow-hidden">
        <div class="container">
          <!-- Heading -->
          <div  class="w-md-75 text-center mx-md-auto mb-9">
            <h2 class="h1">Flexible and transparent pricing</h2>
            <p>Whatever your package volume, Addys has you covered.</p>
          </div>
          <!-- End Heading -->
  
          <!-- Form Switch -->
          <div class="d-flex justify-content-center mb-5">
            <div class="form-check form-switch form-switch-between">
              <label class="form-check-label">Monthly</label>
              <input class="js-toggle-switch form-check-input" type="checkbox" data-hs-toggle-switch-options="{
                       &quot;targetSelector&quot;: &quot;#pricingCount1, #pricingCount2, #pricingCount3&quot;
                     }">
              <label class="form-check-label form-switch-promotion">
                Annually
                <span class="form-switch-promotion-container">
                  <span class="form-switch-promotion-body">
                    <svg class="form-switch-promotion-arrow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 99.3 57" width="48">
                      <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M2,39.5l7.7,14.8c0.4,0.7,1.3,0.9,2,0.4L27.9,42"></path>
                      <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M11,54.3c0,0,10.3-65.2,86.3-50"></path>
                    </svg>
                    <span class="form-switch-promotion-text">
                      <span class="badge bg-primary rounded-pill ms-1">Save up to 10%</span>
                    </span>
                  </span>
                </span>
              </label>
            </div>
          </div>
          <!-- End Form Switch -->
  
          <div class="row mb-7">
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card h-100 shadow-none zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                    <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold" data-hs-toggle-switch-item-options="{
                             &quot;min&quot;: 15,
                             &quot;max&quot;: 11
                           }">15</span>
                    <span>/mo</span>
                  </div>
                  
                  <h3 class="card-title" id="pricing" >Basic</h3>
                  <p class="card-text">Get started with a couple packages a week</p>
                </div>
  
                <div class="card-body d-flex justify-content-center py-0">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary">
                    <li class="list-checked-item">$19.99 per forward</li>
                    <li class="list-checked-item">Up to 10 forwards per month</li>
                    <li class="list-checked-item">3 days package storage</li>
                    <li class="list-checked-item">24/7 Support</li>
                  </ul>
                  <!-- End List Checked -->
                </div>
  
                <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <a type="button" href="/addys" class="btn btn-ghost-primary">Sign up</a>
                  </div>
                  <p class="card-text text-muted small">Get your address immediately</p>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
  
            <div class="col-md mb-3 mb-md-0">
              <div class="position-relative">
                <!-- Card -->
                <div class="card h-100 zi-1">
                  <div class="card-header text-center">
                    <div class="mb-2">
                      <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                      <span id="pricingCount2" class="fs-1 text-dark fw-semi-bold" data-hs-toggle-switch-item-options="{
                               &quot;min&quot;: 35,
                               &quot;max&quot;: 32
                             }">35</span>
                      <span>/mo</span>
                    </div>
                    
                    <h3 class="card-title">Plus</h3>
                    <p class="card-text">Increased capacity to fit your growing operation</p>
                  </div>
  
                  <div class="card-body d-flex justify-content-center py-0">
                    <!-- List Checked -->
                    <ul class="list-checked list-checked-primary">
                    <li class="list-checked-item">$18.99 per forward</li>
                      <li class="list-checked-item">Up to 25 forwards per month</li>                      
                      <li class="list-checked-item">3 days package storage</li>
                      <li class="list-checked-item">24/7 Support</li>
                    </ul>
                    <!-- End List Checked -->
                  </div>
  
                  <div class="card-footer text-center">
                    <div class="d-grid mb-2">
                      <a type="button" href="/addys" class="btn btn-primary">Sign up</a>
                    </div>
                    <p class="card-text text-muted small">Get your address immediately</p>
                  </div>
                </div>
                <!-- End Card -->
  
                <!-- SVG Elements -->
                <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
                  <img class="img-fluid" src="/public/assets/svg/components/dots.svg" alt="Image Description">
                </figure>
  
                <figure class="position-absolute top-0 end-0 mt-n7 me-n7" style="width: 7rem;">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 260 260" xml:space="preserve">
                    <circle fill="#ffc107" cx="130" cy="130" r="130"></circle>
                  </svg>
                </figure>
                <!-- End SVG Elements -->
              </div>
            </div>
            <!-- End Col -->
            
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card h-100 shadow-none zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                    <span id="pricingCount3" class="fs-1 text-dark fw-semi-bold" data-hs-toggle-switch-item-options="{
                             &quot;min&quot;: 55,
                             &quot;max&quot;: 50
                           }">55</span>
                    <span>/mo</span>
                  </div>
                  
                  <h3 class="card-title">Max</h3>
                  <p class="card-text">Unlimited forwards for serious resellers</p>
                </div>
  
                <div class="card-body d-flex justify-content-center py-0">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary">
                    <li class="list-checked-item">$17.99 per forward</li>
                    <li class="list-checked-item">Unlimited forwards per month</li>
                    <li class="list-checked-item">1 week package storage</li>
                    <li class="list-checked-item">24/7 Support</li>
                  </ul>
                  <!-- End List Checked -->
                </div>
  
                <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <a type="button" href="/addys" class="btn btn-ghost-primary">Sign up</a>
                  </div>
                  <p class="card-text text-muted small">Get your address immediately</p>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- Heading -->
      <!-- <div   class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>Simple and affordable pricing</h2>
        <p></p>
      </div> -->
      <!-- End Heading -->

      <!-- Table -->
      <!-- <div class="table-responsive-lg w-lg-75 mx-lg-auto">
        <table class="table table-lg table-striped table-borderless table-nowrap table-vertical-border-striped">
          <thead class="table-text-center">
            <tr>
              <th scope="col" style="width: 40%;"></th>
          
              <th scope="col" style="width: 20%;">
                <span class="d-block">Basic</span>
                <span class="d-block text-muted small">$15/mon</span>
              </th>
          
              <th scope="col" style="width: 20%;">
                <span class="d-block">Plus <span class="badge bg-warning text-dark rounded-pill ms-1">Hot</span></span>
                <span class="d-block text-muted small">$25/mon</span>
              </th>
          
              <th scope="col" style="width: 20%;">
                <span class="d-block">Max</span>
                <span class="d-block text-muted small">$45/mon</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="text-dark">Forward limit per month</th>
              <td class="table-text-center">10</td>
              <td class="table-text-center">25</td>
              <td class="table-text-center">Unlimited</td>
            </tr>

            <tr>
                <th scope="row" class="text-dark">Price per forward</th>
                <td class="table-text-center">$19.99</td>
                <td class="table-text-center">$19.99</td>
                <td class="table-text-center">$19.99</td>
              </tr>

            

            <tr>
              <th scope="row" id="pricing" class="text-dark">Friendly 24 hour support</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">1 week free package storage</th>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

          </tbody>
        </table>
      </div> -->
      <!-- End Table -->
    </div>
    <!-- End Pricing -->

    <div class="overflow-hidden content-space-2">
      <div class="position-relative bg-light text-center rounded-2 zi-2 mx-3 mx-md-10">
        <div class="container content-space-2">
          <div class="text-center mb-5">
            <img class="avatar avatar-lg avatar-4x3" src="/public/assets/svg/illustrations/oc-person-2.svg" alt="Illustration">
          </div>
          
          <!-- Blockquote -->
          <figure class="w-md-75 text-center mx-md-auto">
            <blockquote class="blockquote mb-7">“ When I first learned about Addys, I thought this is exactly what I've needed. It's been great so far, can't wait for you guys to keep growing”</blockquote>

            <figcaption class="blockquote-footer mt-2">
              Daddygoyo
              <span class="blockquote-footer-source">Full-time sneaker reseller</span>
            </figcaption>
          </figure>
          <!-- End Blockquote -->
        </div>

        <!-- SVG Shape -->
        <figure class="position-absolute top-0 start-0 mt-10 ms-10">
          <svg width="70" height="70" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60.6655 74.9992C80.4557 74.9992 96.4988 58.9561 96.4988 39.1659C96.4988 19.3757 80.4557 3.33252 60.6655 3.33252C40.8753 3.33252 24.8322 19.3757 24.8322 39.1659C24.8322 58.9561 40.8753 74.9992 60.6655 74.9992Z" stroke="#97a4af" stroke-width="5" stroke-miterlimit="10"></path>
            <path d="M158.5 197.5C168.165 197.5 176 189.665 176 180C176 170.335 168.165 162.5 158.5 162.5C148.835 162.5 141 170.335 141 180C141 189.665 148.835 197.5 158.5 197.5Z" stroke="#97a4af" stroke-width="5" stroke-miterlimit="10"></path>
          </svg>
        </figure>
        <!-- End SVG Shape -->

        <!-- SVG Shape -->
        <figure class="position-absolute bottom-0 end-0 mb-n7 me-n7" style="width: 10rem;">
          <img class="img-fluid" src="/public/assets/svg/components/dots.svg" alt="Image Description">
        </figure>
        <!-- End SVG Shape -->
      </div>
    </div>

        

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
<script>
  $('#pricingBtn').click(function() {
    document.getElementById("pricing").scrollIntoView({ behavior: 'smooth',
            block: 'center',
            inline: 'center' });
  })
</script>