<%- layout('layouts/boilerplate') %>
  <main id="content" role="main">
    <div class="container content-space-1 content-space-md-3">
        <div name="termly-embed" data-id="8dc21183-4476-498d-80a1-7c49d0dbb84b" data-type="iframe"></div>
        <script type="text/javascript">(function(d, s, id) {
          var js, tjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://app.termly.io/embed-policy.min.js";
          tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'termly-jssdk'));</script>
  </main>