<%- include('../partials/head') %> 
  <!-- Content -->
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="container text-center">
      <div class="mb-3">
        <img class="img-fluid" src="/public/assets/svg/illustrations/oc-error.svg" alt="Image Description"
          style="width: 30rem;">
      </div>
      <div class="mb-4">
        <p class="fs-4 mb-0"><b>Error: <%= param.message %></b></p>
        <p class="fs-4">If you think this is a problem with us, please <a class="link" href="#">tell us</a>.</p>
      </div>
      <a class="btn btn-primary" href="/">Go back home</a>
    </div>
  </div>
  <%- include('./partials/footEssential') %>   