<%- layout('layouts/boilerplate') %> 

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="bg-img-start" style="background-image: url(/public/assets/svg/components/card-11.svg);">
      <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <h1>FAQ</h1>
          <p>Everything you wanted to know.</p>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- FAQ -->
    <div class="container content-space-2 content-space-b-lg-3">
      <div class="w-lg-75 mx-lg-auto">
        <div class="d-grid gap-10">
          <div class="d-grid gap-3">
            <h2>Basics</h2>

            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQBasics">
              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsOne">
                  <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsOne" aria-expanded="true" aria-controls="collapseBasicsOne">
                    Why does anyone need to use forwarding?
                  </a>
                </div>
                <div id="collapseBasicsOne" class="accordion-collapse collapse show" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQBasics">
                  <div class="accordion-body">
                    It's useful for anyone who uses checkout bots to secure goods that are in low supply and resell for higher than MSRP. Think sneakers, video game consoles, and graphics cards.  Retailers won’t let someone order 100 sneakers to the same address if the limit is only 2 sneakers per customer. Resellers therefore need to build networks of forwarders if they want to grow.
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsTwo">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsTwo" aria-expanded="false" aria-controls="collapseBasicsTwo">
                    What are checkout bots?
                  </a>
                </div>
                <div id="collapseBasicsTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQBasics">
                  <div class="accordion-body">
                    Bots are small programs that fill out checkout forms at popular ecommerce websites such as Amazon much faster than any human can. They are useful when you're trying to order items that immediately sell out after restock.</div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsThree">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsThree" aria-expanded="false" aria-controls="collapseBasicsThree">
                    Are checkout bots allowed?
                  </a>
                </div>
                <div id="collapseBasicsThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree" data-bs-parent="#accordionFAQBasics">
                  <div class="accordion-body">
                    Yes. Bots are completely legal. Many stores, however, try to keep individual customers from ordering high quantities of certain goods for resell, and that’s why forwarding is useful to get around these limits.
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsFour">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFour" aria-expanded="false" aria-controls="collapseBasicsFour">
                    Are there other forwarding sites?
                  </a>
                </div>
                <div id="collapseBasicsFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour" data-bs-parent="#accordionFAQBasics">
                  <div class="accordion-body">
                    There are only commercial forwarding sites that allow customers to rent mailboxes at post stores. Commercial addresses are subpar because many retailers will cancel orders of resellable goods to them.                   </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsFive">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFive" aria-expanded="false" aria-controls="collapseBasicsFive">
                    Is forwarding safe?
                  </a>
                </div>
                <div id="collapseBasicsFive" class="accordion-collapse collapse" aria-labelledby="headingBasicsFive" data-bs-parent="#accordionFAQBasics">
                  <div class="accordion-body">
                    Yes. Addys follows all state and federal laws pertaining to freight forwarding and requires all customers to complete a USPS 1583 form in order to use a forwarder. We also require all potential forwarder to submit extensive identity verification information before we consider approval.                   </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingSupportThree">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSupportThree" aria-expanded="false" aria-controls="collapseSupportThree">
                    What if I have a question that isn't answered here?
                  </a>
                </div>
                <div id="collapseSupportThree" class="accordion-collapse collapse" aria-labelledby="headingSupportThree" data-bs-parent="#accordionFAQSupport">
                  <div class="accordion-body">
                    For anything we haven't covered feel free to reach out to the Addys team at <a href="#">help@addys.io</a>
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

            </div>
            <!-- End Accordion -->
          </div>

          <div class="d-grid gap-3">
            <h2>For clients</h2>

            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQSupport">
              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingSupportOne">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSupportOne" aria-expanded="false" aria-controls="collapseSupportOne">
                   How can I be certain my packages are safe
                  </a>
                </div>
                <div id="collapseSupportOne" class="accordion-collapse collapse" aria-labelledby="headingSupportOne" data-bs-parent="#accordionFAQSupport">
                  <div class="accordion-body">
We take the safe delivery of your packages extremely seriously.  The process to become a forwarder is rigourous and selective:
                    <ul>
                        <li>We only approve candidates who pass identity verification and background checks, and forwarders may only apply with an address that public records indicate is their current residence.</li>
                        <li>All candidates must also pass a live interview with an Addys employee. </li>
                        <li>If approved, forwarders have strict limits on how many packages they can receive. Only after a forwarder has built a history of trustworthy and on-time performance do we begin to raise their limits. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingSupportTwo">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSupportTwo" aria-expanded="false" aria-controls="collapseSupportTwo">
                    Where can I ship my packages?
                  </a>
                </div>
                <div id="collapseSupportTwo" class="accordion-collapse collapse" aria-labelledby="headingSupportTwo" data-bs-parent="#accordionFAQSupport">
                  <div class="accordion-body">
                    Packages can be forwarded to anywhere in the world. You pay for shipping plus the forward fee. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingSupportFour">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSupportFour" aria-expanded="false" aria-controls="collapseSupportFour">
                    How many Addys can I have?
                  </a>
                </div>
                <div id="collapseSupportFour" class="accordion-collapse collapse" aria-labelledby="headingSupportFour" data-bs-parent="#accordionFAQSupport">
                  <div class="accordion-body">
                    You can have as many as you’d like. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="d-grid gap-3">
            <h2>For forwarders</h2>

            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQPayments">
              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingPaymentsOne">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsOne" aria-expanded="false" aria-controls="collapsePaymentsOne">
                    Who can sign up?
                  </a>
                </div>
                <div id="collapsePaymentsOne" class="accordion-collapse collapse" aria-labelledby="headingPaymentsOne" data-bs-parent="#accordionFAQPayments" style="">
                  <div class="accordion-body">
                    Anyone over 18, who lives at a residential address, and has a clean background check. You must also pass an interview in which you demonstrate trustworthiness and ability to consistently forward packages.                 </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingPaymentsTwo">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsTwo" aria-expanded="false" aria-controls="collapsePaymentsTwo">
                    How do I get paid?
                  </a>
                </div>
                <div id="collapsePaymentsTwo" class="accordion-collapse collapse" aria-labelledby="headingPaymentsTwo" data-bs-parent="#accordionFAQPayments" style="">
                  <div class="accordion-body">
                    You get paid every week via direct deposit. Crypto coming soon. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingPaymentsThree">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsThree" aria-expanded="true" aria-controls="collapsePaymentsThree">
                    I’m worried about my privacy, how do you protect my address?
                  </a>
                </div>
                <div id="collapsePaymentsThree" class="accordion-collapse collapse" aria-labelledby="headingPaymentsThree" data-bs-parent="#accordionFAQPayments" style="">
                  <div class="accordion-body">
                    Your address is only provided to verified clients after approval for a mailbox with your address. Your name is never shared. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

               <!-- Accordion Item -->
               <div class="accordion-item">
                <div class="accordion-header" id="headingPaymentsFour">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsFour" aria-expanded="true" aria-controls="collapsePaymentsFour">
                    How much can I make per month?
                  </a>
                </div>
                <div id="collapsePaymentsFour" class="accordion-collapse collapse" aria-labelledby="headingPaymentsFour" data-bs-parent="#accordionFAQPayments" style="">
                  <div class="accordion-body">
                    We have some forwarders who make over $1,000 per month. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

               <!-- Accordion Item -->
               <div class="accordion-item">
                <div class="accordion-header" id="headingPaymentsFive">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsFive" aria-expanded="true" aria-controls="collapsePaymentsFive">
                    Is there a limit to how much I can forward?
                  </a>
                </div>
                <div id="collapsePaymentsFive" class="accordion-collapse collapse" aria-labelledby="headingPaymentsFive" data-bs-parent="#accordionFAQPayments" style="">
                  <div class="accordion-body">
                    Yes, for safety reasons we apply limits on how many packages per week new forwarders may process. As you build a history of positive performance, your limit will be automatically raised. 
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              



            </div>
            <!-- End Accordion -->
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

