<%- layout('layouts/boilerplate') %>
<div class="container content-space-b-2 content-space-b-lg-3 content-space-t-5">
    <div class="row col-lg-divider">
      <div class="col-lg-3">
        <!-- Navbar -->
        <div class="navbar-expand-lg">
          <!-- Navbar Toggle -->
          <div class="d-grid">
            <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
              <span class="d-flex justify-content-between align-items-center">
                <span class="text-dark">Menu</span>

                <span class="navbar-toggler-default">
                  <i class="bi-list"></i>
                </span>

                <span class="navbar-toggler-toggled">
                  <i class="bi-x"></i>
                </span>
              </span>
            </button>
          </div>
          <!-- End Navbar Toggle -->

          <!-- Navbar Collapse -->
          <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
            <div class="d-grid gap-4 flex-grow-1">
              <div class="d-grid">
                <h5 class="dropdown-header">Categories</h5>
                <a class="dropdown-item d-flex justify-content-between" href="#">Inbox all<span class="badge text-dark border rounded-pill">3</span></a>
                <a class="dropdown-item d-flex justify-content-between" href="#">Available to forward<span class="badge text-dark border rounded-pill">2</span></a>
                <a class="dropdown-item d-flex justify-content-between" href="#">Pending forward<span class="badge text-dark border rounded-pill">1</span></a>
                <a class="dropdown-item d-flex justify-content-between" href="#">Total forwarded<span class="badge text-dark border rounded-pill">43</span></a>
                                
              </div>

              

              

              
            </div>
          </div>
          <!-- End Navbar Collapse -->
        </div>
        <!-- End Navbar -->
      </div>
      <!-- End Col -->

      <div class="col-lg-9">
        <div class="ps-lg-2">
          
          <!-- End Row -->

          <!-- Heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">Inbox all</h4>
          </div>


          <div class="d-grid gap-5 mb-10">
            <!-- Card -->
            <div class="card card-bordered card-transition">
              <div class="card-body">
                <!-- Media -->
                <div class="d-sm-flex">
                  <!-- Media -->                
                  <div class="flex-grow-1">
                    <div class="row">
                      <div class="col col-md-8">
                        <h3 class="card-title">
                          <a class="text-dark" href="/public/demo-jobs/employer.html">Package</a>
                        </h3>
                        <div class="d-none d-sm-inline-block">
                          <h6 class="card-title">
                            <a class="text-dark" href="/">67398767898767890900</a>
                          </h6>
                        </div>
                      </div>
                      <!-- End Col -->


                      <div class="col-12 col-md mt-3 mt-md-0">
                        <span class="d-block small text-body mb-1">USPS</span>

                        <span class="badge bg-soft-success text-success me-2">
                          <span class="legend-indicator bg-success"></span>Ready to forward
                        </span>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
                <!-- End Media -->
              </div>

              <div class="card-footer pt-0">
                <ul class="list-inline list-separator small text-body">
                  <li class="list-inline-item">Uploaded 7 hours ago</li>
                  <li class="list-inline-item">2 lbs 6 oz</li>
                </ul>
              </div>
            </div>
            <!-- End Card -->
            <div class="card card-bordered card-transition">
              <div class="card-body">
                <!-- Media -->
                <div class="d-sm-flex">
                  <!-- Media -->                
                  <div class="flex-grow-1">
                    <div class="row">
                      <div class="col col-md-8">
                        <h3 class="card-title">
                          <a class="text-dark" href="/public/demo-jobs/employer.html">Letter</a>
                        </h3>
                        <div class="d-none d-sm-inline-block">
                          <h6 class="card-title">
                            <a class="text-dark" href="/public/demo-jobs/employer.html">67398767898767890900</a>
                          </h6>
                        </div>
                      </div>
                      <!-- End Col -->


                      <div class="col-12 col-md mt-3 mt-md-0">
                        <span class="d-block small text-body mb-1">USPS</span>

                        <span class="badge bg-soft-success text-success me-2">
                          <span class="legend-indicator bg-success"></span>Ready to forward
                        </span>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
                <!-- End Media -->
              </div>

              <div class="card-footer pt-0">
                <ul class="list-inline list-separator small text-body">
                  <li class="list-inline-item">Uploaded 7 hours ago</li>
                  <li class="list-inline-item">2 lbs 6 oz</li>
                </ul>
              </div>
            </div>
            <div class="card card-bordered card-transition">
              <div class="card-body">
                <!-- Media -->
                <div class="d-sm-flex">
                  <!-- Media -->                
                  <div class="flex-grow-1">
                    <div class="row">
                      <div class="col col-md-8">
                        <h3 class="card-title">
                          <a class="text-dark" href="/public/demo-jobs/employer.html">Package</a>
                        </h3>
                        <div class="d-none d-sm-inline-block">
                          <h6 class="card-title">
                            <a class="text-dark" href="/public/demo-jobs/employer.html">67398767898767890900</a>
                          </h6>
                        </div>
                      </div>
                      <!-- End Col -->


                      <div class="col-12 col-md mt-3 mt-md-0">
                        <span class="d-block small text-body mb-1">USPS</span>

                        <span class="badge bg-soft-info text-info me-2">
                          <span class="legend-indicator bg-info"></span>Ready to forward
                        </span>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
                <!-- End Media -->
              </div>

              <div class="card-footer pt-0">
                <ul class="list-inline list-separator small text-body">
                  <li class="list-inline-item">Uploaded 7 hours ago</li>
                  <li class="list-inline-item">2 lbs 6 oz</li>
                </ul>
              </div>
            </div>
          </div>


          <!-- Heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">Pending forward</h4>
          </div>
          <!-- End Heading -->

          <div class="d-grid gap-5 mb-10">
            <!-- Card -->
            <div class="card card-bordered card-transition">
              <div class="card-body">
                <!-- Media -->
                <div class="d-sm-flex">
                  <!-- Media -->                
                  <div class="flex-grow-1">
                    <div class="row">
                      <div class="col col-md-8">
                        <h3 class="card-title">
                          <a class="text-dark" href="/public/demo-jobs/employer.html">Package</a>
                        </h3>
                        <div class="d-none d-sm-inline-block">
                          <h6 class="card-title">
                            <a class="text-dark" href="/public/demo-jobs/employer.html">67398767898767890900</a>
                          </h6>
                        </div>
                      </div>
                      <!-- End Col -->


                      <div class="col-12 col-md mt-3 mt-md-0">
                        <span class="d-block small text-body mb-1">USPS</span>

                        <span class="badge bg-soft-info text-info me-2">
                          <span class="legend-indicator bg-info"></span>Pending forward
                        </span>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
                <!-- End Media -->
              </div>

              <div class="card-footer pt-0">
                <ul class="list-inline list-separator small text-body">
                  <li class="list-inline-item">Uploaded 7 hours ago</li>
                  <li class="list-inline-item">2 lbs 6 oz</li>
                </ul>
              </div>
            </div>
            <!-- End Card -->
          </div>


         


        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>