<%- layout('layouts/boilerplate') %>
<!-- Form -->
<div class="container content-space-2 content-space-lg-3 mt-5">
    <%- include('../partials/flash') %>

    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
      <!-- Heading -->
      <div class="text-center mb-5 mb-md-7">
        <h1 class="h2">Welcome back</h1>
        <p>Login to manage your packages.</p>
      </div>
      <!-- End Heading -->
  
      <!-- Form -->
      <form action="/login" method="post"" class="js-validate needs-validation" novalidate>
        <!-- Form -->
        <div class="mb-4">
          <label class="form-label" for="signupSimpleLoginEmail">Your username</label>
          <input type="text" class="form-control form-control-lg" name="username" id="signupSimpleLoginEmail" placeholder="" aria-label="email@site.com" required>
          <span class="invalid-feedback">Please enter a valid username address.</span>
        </div>
        <!-- End Form -->
  
        <!-- Form -->
        <div class="mb-4">
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="signupSimpleLoginPassword">Password</label>
  
            <a class="form-label-link" href="../page-reset-password-simple.html">Forgot Password?</a>
          </div>
  
          <div class="input-group input-group-merge" data-hs-validation-validate-class>
            <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSimpleLoginPassword" placeholder="" aria-label="5+ characters required" required minlength="5"
                  data-hs-toggle-password-options='{
                   "target": "#changePassTarget",
                   "defaultClass": "bi-eye-slash",
                   "showClass": "bi-eye",
                   "classChangeTarget": "#changePassIcon"
                 }'>
            <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
              <i id="changePassIcon" class="bi-eye"></i>
            </a>
          </div>
  
          <span class="invalid-feedback">Please enter a valid password.</span>
        </div>
        <!-- End Form -->
  
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg">Log in</button>
        </div>
  
        <div class="text-center">
          <p><a class="link" href="/addys">Choose a location to get started</a></p>
          <p>Are you a forwarder? <a class="link" href="/forwarder/login">Log in here<a></p>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
  <!-- End Form -->